div{
    background-color:yellow;
}

form{
    background-color: red;
}
input{
    background-color: inherit;
}

button:hover{
    background-color: inherit;
    background-color: red;
}